// GENERAL PROJECT STYLES

body.nav-active
	overflow: hidden

.overlay
	position: fixed
	inset: 0
	width: 100%
	background-color: #101015
	opacity: 0
	visibility: hidden
	transition: var(--trt)
	&.active
		visibility: visible
		opacity: 0.5
		z-index: 15

.container
	max-width: 1517px
	margin-inline: auto
	padding-inline: $gutter

.show
	overflow-y: hidden

.icon
	svg
		display: block
		width: 100%
		height: 100%
		fill: currentColor
		object-fit: cover

@keyframes slide-right
	0%
		transform: translateX(0)
	50%
		transform: translateX(-1.5rem)
	100%
		transform: translateX(0)

.btn
	display: flex
	align-items: center
	justify-content: center
	max-width: max-content
	font-size: rem(32)
	font-weight: 700
	padding: rem(18) rem(100)
	transition: var(--trt-theme)
	svg
		transition: var(--trt-theme)
	&-start
		min-width: rem(535)
		border-radius: rem(40)
		background-color: #05AEDA
		color: #fff
		&:hover, &:focus
			color: #fff
			box-shadow: var(--box-shadow-1)
		&:active
			background-color: #fff
			color: #000
			box-shadow: var(--box-shadow-1)
			transition: none
	&-sign
		min-width: rem(580)
		border-radius: rem(12)
		background-color: var(--color-btn)
		padding: rem(32) rem(100)
		color: #fff
		&:hover
			color: #000
			background-color: var(--color-btn-light)
	&-social
		min-width: rem(190)
		min-height: rem(75)
		padding: rem(10)
		border-radius: rem(18)
		&-vk
			background-color: #2787F5
			svg
				width: rem(43)
				height: rem(25)
		&-telegram
			background-color: #28AAEB
			svg
				width: rem(39)
				height: rem(33)
		&-discord
			background-color: #5769E7
			svg
				width: rem(41)
				height: rem(30)
		svg
			display: block
			fill: #fff
			object-fit: cover
			transition: var(--trt-theme)
		&:hover
			background-color: var(--body-color)
			box-shadow: var(--box-shadow-2)
			svg
				fill: var(--text-color)
		&:active
			transition: none
			svg
				fill: #fff
				transition: none
			&.btn-social-vk
				background-color: #2787F5
			&.btn-social-discord
				background-color: #5769E7
			&.btn-social-telegram
				background-color: #28AAEB
	&-transparent
		font-size: rem(24)
		font-weight: 700
		color: #fff

.link
	position: relative
	&::after
		content: ''
		width: 0
		height: rem(2)
		position: absolute
		background-color: currentColor
		left: 0
		bottom: rem(-2)
		transition: width var(--trt)
	&:is(:hover, :focus)::after
		width: 100%

.logo
	display: inline-block
	width: rem(167)
	height: rem(43)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)

.user
	display: inline-block
	width: rem(44)
	height: rem(50)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)

.windows
	width: rem(67)
	height: rem(63)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)
	&-action
		cursor: pointer
		&:hover svg
			fill: var(--text-color-focus)
		&:active svg
			fill: var(--color-windows-focus)

.ios
	width: rem(53)
	height: rem(64)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)
	&-action
		cursor: pointer
		&:hover svg
			fill: var(--text-color-focus)
		&:active svg
			fill: var(--color-windows-focus)

.linux
	width: rem(57)
	height: rem(66)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		path
			fill: transparent
			transition: var(--trt-theme)
			&:nth-of-type(7)
				fill: var(--text-color)
	&-action
		cursor: pointer
		&:hover svg
			path:nth-of-type(1)
				fill: #FFBD00
			path:nth-of-type(2)
				fill: #FFBD00
			path:nth-of-type(3)
				fill: #FFBD00
			path:nth-of-type(4)
				fill: #fff
			path:nth-of-type(5)
				fill: #fff
			path:nth-of-type(6)
				fill: #fff
			path:nth-of-type(7)
				fill: #000
			path:nth-of-type(8)
				fill: #fff
			path:nth-of-type(9)
				fill: #ff
		&:active svg
			path:nth-of-type(1)
				fill: #FFBD00
			path:nth-of-type(2)
				fill: #FFBD00
			path:nth-of-type(3)
				fill: #FFBD00
			path:nth-of-type(4)
				fill: #fff
			path:nth-of-type(5)
				fill: #fff
			path:nth-of-type(6)
				fill: #fff
			path:nth-of-type(7)
				fill: #000
			path:nth-of-type(8)
				fill: #fff
			path:nth-of-type(9)
				fill: #fff

.img-cover
	max-width: 100%
	height: auto
	object-fit: cover

.ri-moon-line
	display: inline-block
	width: rem(47)
	height: rem(46)
	background-image: url(../images/dist/icon/light-theme.svg)
	background-repeat: no-repeat
	transition: var(--trt-theme)

.ri-sun-line
	display: inline-block
	width: rem(47)
	height: rem(48)
	background-image: url(../images/dist/icon/dark-theme.svg)
	background-repeat: no-repeat
	transition: var(--trt-theme)

.item
	display: flex
	flex-direction: column
	width: 100%
	min-height: rem(350)
	border-radius: rem(20)
	background-color: var(--body-connect-light)

.wrapper-items
	display: grid
	grid-template-columns: repeat(2, 1fr)
	justify-items: center
	width: 100%
	gap: 35px

.cta-wrapper
	.container
		max-width: rem(1230)
		padding-top: rem(140)

.moderator.cta-wrapper .container,
.donat.cta-wrapper .container,
.ban.cta-wrapper .container
	max-width: unset
	max-width: 1517px

.popup
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	overflow-x: hidden
	overflow-y: auto
	z-index: 100
	background-color: rgba(16, 16, 21, .75)
	&.show
		opacity: 1
		visibility: visible
	&-body
		min-height: 100%
		max-width: max-content
		max-height: max-content
		margin-inline: auto
		display: flex
		align-items: center
		justify-content: center
		padding: rem(30) rem(10)
	&-content
		position: relative
	&-close
		width: rem(45)
		height: rem(45)
		position: absolute
		top: rem(34)
		right: rem(34)
	&-form-close
		top: rem(50)
		right: rem(140)
	.form
		display: flex
		flex-direction: column
		align-items: center
		gap: 35px
		background-color: var(--body-form)
		padding: rem(50) rem(140)
		border-radius: var(--border-radius-3)
		&-title
			font-size: rem(40)
			button
				color: var(--color-toggle)
				padding-inline: rem(10)
				transition: var(--trt)
				&.active
					color: #fff !important
				&:hover
					color: var(--color-toggle-hover)
				&:focus
					color: var(--color-toggle)
				&:first-of-type
					position: relative
					&::after
						content: '/'
						font-size: rem(50)
						font-weight: 300
						color: #fff
						position: absolute
						top: 50%
						right: rem(-13)
						transform: translateY(-50%)

.checkbox
	display: inline-flex
	align-items: center
	gap: 8px
	cursor: pointer
	position: relative
	&-input
		appearance: none
		background: transparent
		position: absolute
		padding: 0
		&:checked + .checkbox-box::after
			background: transparent
			transform: scale(1)
	&-box
		display: flex
		align-items: center
		justify-content: center
		flex-shrink: 0
		width: rem(40)
		height: rem(40)
		border-radius: rem(5)
		border: 2px solid #fff
		&::after
			content: '\2714'
			color: #fff
			transform: scale(0)
			transition: var(--trt)

.body-inner
	background: var(--body-commands)
	border-radius: rem(20)

.body-text
	&-list
		ol
			counter-reset: item
		li
			display: block
			&::before
				content: counters(item, ".") "."
				counter-increment: item
		.reboot
			counter-reset: none
			counter-set: item 0
		.terms-text-reboot
			counter-set: item 4
	&-item
		&.no-list-style
			list-style: none
			&::before
				display: none
		&.list-string
			position: relative
			padding-left: rem(20)
			&::after
				font-size: rem(20)
				font-weight: 100
				content: '_'
				position: absolute
				left: 0
				top: rem(8)
				transform: translateY(-50%)

.balance
	display: flex
	flex-direction: column
	gap: 10px
	width: 100%
	max-width: 580px
	border-radius: var(--border-radius)
	padding: 35px 35px 60px 35px
	background: var(--body-form)
	&-progress
		height: 20px
		width: 100%
		appearance: none
		border: none
		border-radius: var(--border-radius)
		overflow: hidden
		transition: .3s ease-in-out
		position: relative
		&::-webkit-progress
			&-bar
				background: #7599FC
				border-radius: var(--border-radius)
			&-value
				background: #4777F9
				border-radius: var(--border-radius)
		&::-moz-progress
			&-bar
				background: #7599FC
				border-radius: var(--border-radius)
			&-value
				background: #4777F9
				border-radius: var(--border-radius)
		&::before
			content: ''
			height: 20px
			width: 25px
			background: #4777F9
			border-radius: var(--border-radius)
			position: absolute
			left: 0
			top: 0
		&::after
			content: ''
			height: 20px
			width: 25px
			background: #4777F9
			border-radius: var(--border-radius)
			position: absolute
			right: 0
			top: 0
	&-text
		text-align: center
	&-current
		display: flex
		align-items: center
		justify-content: space-between
		text-transform: uppercase

.select
	&-menu
		width: 415px
		position: relative
		&.active
			.select-options
				padding: rem(25) rem(20) rem(25) rem(0)
				visibility: visible
				opacity: 1
				.options
					max-height: 450px
			.select-btn .dropdown
				background-color: var(--color-ban)
				transition: background-color var(--trt-theme)
	&-options
		visibility: hidden
		opacity: 0
		border-radius: 0 0 var(--border-radius) var(--border-radius)
		background-color: var(--color-options)
		padding: rem(0) rem(20) rem(0) rem(0)
		position: absolute
		top: 100%
		left: 0
		z-index: 5
		transition: background-color var(--trt-theme), padding var(--trt-theme), opacity var(--trt-theme)
		.options
			max-height: 0
			padding-inline: rem(70) rem(30)
			color: #000
			overflow-y: scroll
			position: relative
			transition: max-height var(--trt-theme), padding var(--trt-theme)
			.option
				font-weight: 500
				cursor: pointer
				white-space: nowrap
				& + .option
					margin-top: rem(35)
	&-btn
		display: flex
		align-items: center
		min-height: 72px
		padding-inline: rem(30) rem(70)
		background: var(--color-ban)
		cursor: pointer
		position: relative
		&.active
			background: var(--color-ban-active)
			.dropdown
				background: var(--color-ban-active)
		.dropdown
			width: 30px
			height: 100%
			padding-inline: rem(30)
			background: var(--color-ban-toggle)
			box-sizing: content-box
			position: absolute
			right: 0
			top: 0
			svg
				display: block
				width: 100%
				height: 100%
				object-fit: cover
				fill: #fff

.webgl
	position: absolute
	inset: 0
	width: 100%
	height: 100%
	canvas
		cursor: grab
		outline: none
		touch-action: none
		user-select: none
