// GENERAL PROJECT STYLES

body.nav-active
	overflow: hidden

.overlay
	position: fixed
	inset: 0
	width: 100%
	background-color: #101015
	opacity: 0
	visibility: hidden
	transition: var(--trt)
	&.active
		visibility: visible
		opacity: 0.5
		z-index: 15

.container
	max-width: 1517px
	margin-inline: auto
	padding-inline: $gutter

.btn
	display: flex
	align-items: center
	justify-content: center
	max-width: max-content
	font-size: rem(32)
	font-weight: 700
	padding: rem(18) rem(100)
	transition: var(--trt-theme)
	svg
		transition: var(--trt-theme)
	&-start
		min-width: rem(535)
		border-radius: rem(40)
		background-color: #05AEDA
		color: #fff
		&:hover
			color: #fff
			box-shadow: var(--box-shadow-1)
		&:active, &:focus
			background-color: #fff
			color: #000
			box-shadow: var(--box-shadow-1)
			transition: none
	&-sign
		min-width: rem(580)
		border-radius: rem(12)
		background-color: var(--color-btn)
		padding: rem(32) rem(100)
		color: #fff
		&:is(:hover, :focus)
			color: #000
			background-color: var(--color-btn-light)
	&-social
		min-width: rem(190)
		min-height: rem(75)
		padding: rem(10)
		border-radius: rem(18)
		&-vk
			background-color: #2787F5
			svg
				width: rem(43)
				height: rem(25)
		&-telegram
			background-color: #28AAEB
			svg
				width: rem(39)
				height: rem(33)
		&-discord
			background-color: #5769E7
			svg
				width: rem(41)
				height: rem(30)
		svg
			display: block
			fill: #fff
			object-fit: cover
			transition: var(--trt-theme)
		&:is(:hover, :focus)
			background-color: var(--body-color)
			box-shadow: var(--box-shadow-2)
			svg
				fill: var(--text-color)
	&-transparent
		font-size: rem(24)
		font-weight: 700
		color: #fff

.link
	position: relative
	&::after
		content: ''
		width: 0
		height: rem(2)
		position: absolute
		background: #fff
		left: 0
		bottom: rem(-2)
		transition: var(--trt)
	&:is(:hover, :focus)::after
		width: 100%

.logo
	display: inline-block
	width: rem(167)
	height: rem(43)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)

.user
	display: inline-block
	width: rem(44)
	height: rem(50)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)

.windows
	width: rem(67)
	height: rem(63)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)

.ios
	width: rem(53)
	height: rem(64)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		transition: var(--trt-theme)

.linux
	width: rem(57)
	height: rem(66)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--text-color)
		object-fit: cover
		path
			fill: transparent
			transition: var(--trt-theme)
			&:nth-of-type(7)
				fill: var(--text-color)
				

.img-cover
	max-width: 100%
	height: auto
	object-fit: cover

.ri-moon-line
	display: inline-block
	width: rem(47)
	height: rem(46)
	background-image: url(../images/dist/icon/light-theme.svg)
	background-repeat: no-repeat
	transition: var(--trt-theme)

.ri-sun-line
	display: inline-block
	width: rem(47)
	height: rem(48)
	background-image: url(../images/dist/icon/dark-theme.svg)
	background-repeat: no-repeat
	transition: var(--trt-theme)

.item
	display: flex
	flex-direction: column
	width: 100%
	min-height: rem(350)
	border-radius: rem(20)
	background-color: var(--body-connect-light)

.wrapper-items
	display: grid
	grid-template-columns: repeat(2, 1fr)
	justify-items: center
	width: 100%
	gap: 35px

.cta-wrapper
	.container
		max-width: rem(1230)
		padding-top: rem(140)

.moderator.cta-wrapper .container
	max-width: unset
	max-width: 1517px

.wrapper-form
	display: none
	max-width: 1170px
	width: 100%
	margin-inline: auto
	background: var(--body-form)
	border-radius: rem(60)
	padding: rem(60) rem(160) rem(40) rem(140)
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 100
	&.active
		display: block
	.form
		display: flex
		flex-direction: column
		align-items: center
		gap: 35px
		&-title
			font-size: rem(40)
			button
				color: var(--color-toggle)
				padding: rem(10)
				transition: var(--trt)
				&.active
					color: #fff !important
				&:hover
					color: var(--color-toggle-hover)
				&:focus
					color: var(--color-toggle)
				&:first-of-type
					position: relative
					&::after
						content: '/'
						font-size: rem(50)
						font-weight: 300
						color: #fff
						position: absolute
						top: 50%
						right: rem(-13)
						transform: translateY(-50%)

.checkbox
	display: inline-flex
	align-items: center
	gap: 8px
	cursor: pointer
	position: relative
	&-input
		appearance: none
		background: transparent
		position: absolute
		padding: 0
		&:checked + .checkbox-box::after
			background: transparent
			transform: scale(1)
	&-box
		display: flex
		align-items: center
		justify-content: center
		flex-shrink: 0
		width: rem(40)
		height: rem(40)
		border-radius: rem(5)
		border: 1px solid #fff
		&::after
			content: '\2714'
			color: #fff
			transform: scale(0)
			transition: var(--trt)

.body-inner
	background: var(--body-commands)
	border-radius: rem(20)

.body-text
	&-list
		ol
			counter-reset: item
		li
			display: block
			&::before
				content: counters(item, ".") ". "
				counter-increment: item
		.reboot
			counter-reset: none
			counter-set: item 0
		.terms-text-reboot
			counter-set: item 4
	&-item
		&.no-list-style
				list-style: none
				&::before
					display: none
		&.list-string
			position: relative
			padding-left: rem(20)
			&::after
				font-size: rem(20)
				font-weight: 100
				content: '_'
				position: absolute
				left: 0
				top: rem(8)
				transform: translateY(-50%)

