.connect
	.container
		display: flex
		flex-direction: column
		align-items: center
		gap: 25px
	&-item
		max-width: rem(580)
		justify-content: flex-end
		color: var(--text-color)
		padding-block: rem(25)
		padding-inline: rem(65) rem(15)
		position: relative
		transition: var(--trt-theme)
		&:is(:hover, :focus, :active)
			background-color: var(--body-connect)
		&:is(:focus, :active)
			background-color: var(--body-connect)
			color: var(--text-color-focus)
		&:nth-child(3)
			justify-content: center
		&:nth-child(n+3)
			.connect-item-content
				flex-direction: row
				justify-content: space-between
				height: 100%
			.connect-item-img
				align-self: flex-end
		&-content
			display: flex
			flex-direction: column
			align-items: center
			width: 100%
		&-counter, &-title
			font-weight: 700
		&-counter
			font-size: rem(36)
			position: absolute
			top: rem(25)
			left: rem(65)
		&-title
			font-size: rem(32)
			line-height: rem(40)
		&-img
			margin-left: auto
			&.paper
				width: rem(168)
				height: rem(134)
			&.book
				width: rem(160)
				height: rem(140)
			&.sword
				width: rem(126)
				height: rem(128)
			&.hero
				width: rem(186)
				height: rem(230)