body.dark-theme
	--first-color: #8256E2
	--text-color: #fff
	--text-color-focus: #000
	--color-btn-light: #8256e280
	--body-color: #190E36
	--body-hero: #466663
	--body-server: #472E93
	--body-server-light: #190E3680
	--body-scrollbar: #ADB5FF66
	--body-connect: #6BA17A
	--body-connect-light: #FFFFFF47
	--body-gradient: radial-gradient(50% 50% at 50% 50%, transparent 0%, var(--body-color) 100%)
	--gradient-color: linear-gradient(324deg, #442875 2%, #5959CE 106%)
