body.dark-theme
	--first-color: #8256E2
	--text-color: #fff
	--text-color-focus: #000
	--color-btn: #472E93
	--color-btn-light: #8256e280
	--color-toggle: #784FF1
	--color-toggle-hover: #4f2abe
	--color-ios-hover: #000
	--color-ios-focus: #000
	--color-gradient: #d33fed
	--body-color: #190E36
	--body-hero: #466663
	--body-server: #472E93
	--body-server-light: #190E3680
	--body-scrollbar: #ADB5FF66
	--body-connect: #6BA17A
	--body-connect-light: #FFFFFF47
	--body-form: #8FC1F9
	--body-rules: #00000047
	--body-rules-light: #35353547
	--body-linux-focus: #fff
	--body-search: #8256E2
	--body-search-darken: #4C3387
	--body-search-action: #422a78
	--body-commands: #D9D9D947
	--body-news: #100019
	--body-gradient: radial-gradient(50% 50% at 50% 50%, transparent 0%, var(--body-color) 100%)
	--gradient-color: linear-gradient(324deg, #442875 2%, #5959CE 106%)
	--box-shadow-3: 20px 20px 57px rgba(80, 224, 120, 0.3)
