.donat
	color: #000
	.container
		padding-block: rem(200) rem(80)
	&-title
		visibility: hidden
		opacity: 0
		position: absolute
	&-inner
		display: flex
		align-items: center
		justify-content: center
		gap: 30px
	&-form
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		max-width: 850px
		gap: 40px
		background: var(--body-form)
		border-radius: var(--border-radius)
		padding: rem(50) rem(80)
		&-title
			max-width: 550px
			align-self: start
			font-size: inherit
			font-weight: 700
			padding-left: rem(10)
		&-field
			padding: rem(25) rem(60)
			&::placeholder
				color:#757575
		.checkbox
			max-width: 500px
			gap: 20px
			font-size: rem(16)
			font-weight: 700
			&-box
				border-color: #000
				&::after
					color: #000
		&-btn
			padding: rem(30)
			background: var(--color-btn)
			border-radius: var(--border-radius-2)
			color: #fff
			min-width: 450px