.header
	padding-block: 20px
	background-color: transparent
	position: fixed
	top: 0
	right: 0
	left: 0
	z-index: 10
	transition: var(--trt-theme)
	.container
		display: flex
		align-items: center
		justify-content: space-between
	&-bg
		box-shadow: 0 150px 20px -50px var(--body-color) inset
		// opacity: .95
		// box-shadow: 0 12px 30px rgb(var(--body-color) / 60%)
.nav
	&-menu
		display: flex
		align-items: center
		justify-content: space-between
		flex-grow: 1
		&-top
			display: none
	&-list
		display: flex
		align-items: center
		gap: 100px
		margin-inline: auto
		font-family: $secondfont
		font-weight: 300
		& > li:is(:hover, :focus)
			text-shadow: 1.5px 0 1.5px currentColor
			transition: text-shadow var(--trt)
	&-item
		position: relative
		color: var(--text-color)
		transition: background var(--trt-theme), color var(--trt-theme)
		cursor: pointer
		padding-block: rem(25)
		&:is(:hover, :focus-within, :focus)
			.nav-link
				text-shadow: 1.5px 0 1.5px currentColor
				transition: var(--trt)
			.sub-nav-list
				padding: rem(30) rem(40)
				visibility: visible
				opacity: 1
	&-link
		transition: var(--trt-theme)
	&-buttons
		display: flex
		align-items: center
		gap: 100px
	&-toggle-btn
		display: none
		width: rem(45)
		height: rem(45)
		svg
			display: block
			width: 100%
			height: 100%
			fill: var(--text-color)
			object-fit: cover
			transition: var(--trt-theme)

.sub-nav
	&-list
		display: flex
		gap: 20px
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		padding: 0
		border-radius: rem(8)
		background: var(--gradient-color)
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: 100%
		visibility: hidden
		opacity: 0
		transition: var(--trt)
		z-index: 1
		.arrow-dropdown
			width: rem(26)
			height: rem(14)
			svg
				display: block
				width: 100%
				height: 100%
				fill: #fff
				object-fit: cover
	&-link 
		font-size: rem(20)
		font-weight: 300
		white-space: nowrap
		color: #fff
		text-shadow: none
		&:is(:hover, :focus)
			text-shadow: 1.5px 0 1.5px #fff
			transition: var(--trt)

