@media ( min-width: 2048px )
	.swiper-bg-random
		min-height: unset
		height: 100vh

@media ( min-width: 2400px )

	:root
		--fontSize: 3rem
		// --lineheight: 5rem

	h1, h2
		font-size: rem(96)

	.container
		max-width: unset
		@include adaptive-value('padding-inline', 100, 50, 2)

	.btn
		font-size: rem(64)
		padding: rem(36) rem(100)
		&-start
			border-radius: rem(80)
		&-log
			border-radius: rem(24)
		&-social
			min-width: rem(380)
			min-height: rem(150)
			padding: rem(20)
			border-radius: rem(36)
			&-vk
				svg
					width: rem(86)
					height: rem(50)
			&-discord
				svg
					width: rem(78)
					height: rem(66)
			&-telegram
				svg
					width: rem(82)
					height: rem(60)
		&-transparent
			font-size: rem(48)

	.link::after
		height: rem(4)
		bottom: rem(-4)

	.swiper-wrapper
		display: flex
		align-items: center

	.logo
		width: rem(334)
		height: rem(94)

	.user
		width: rem(88)
		height: rem(100)

	.windows
		width: rem(134)
		height: rem(126)

	.ios
		width: rem(106)
		height: rem(128)

	.linux
		width: rem(114)
		height: rem(132)

	.ri-moon-line
		width: rem(94)
		height: rem(92)

	.ri-sun-line
		width: rem(94)
		height: rem(96)
	
	.img-cover
		width: 30vw

	.header
		padding-block: 80px

	.nav-item:is(:hover, :focus-within)
		.sub-nav-list
			padding: rem(60) rem(80)

	.sub-nav
		&-list
			gap: 40px
			border-radius: rem(16)
			top: rem(100)
			.arrow-dropdown
				width: rem(52)
				height: rem(28)
		&-link
			font-size: rem(40)

	.item
		min-height: rem(700)
		border-radius: rem(40)

	.wrapper-form
		max-width: 2340px
		border-radius: rem(120)
		padding: rem(120) rem(320) rem(80) rem(280)
		.form
			gap: 70px
			&-title
				font-size: rem(80)
				button:first-of-type::after
					font-size: rem(100)
					right: rem(-26)

	.signup-form-links
		a
			gap: 10px
			& + a::after
				font-size: rem(60)
				left: rem(-16)

	input, textarea
		line-height: rem(56)
		font-size: rem(48)
		padding: rem(36) rem(128)
		border-radius: rem(88)
		&::placeholder
			font-size: rem(48)

	.checkbox
		gap: 16px
		&-box
			width: rem(80)
			height: rem(80)
			border-radius: rem(10)
			border-width: 2px

	.hero
		&-swiper
			padding-top: rem(190)
		&-slide
			gap: 15%
			&-server
				gap: 50px
				padding: rem(60) rem(260)
		&-content
			&-title
				margin-bottom: rem(50)
			&-text
				max-width: rem(1100)
				margin-bottom: rem(40)
			&-subtitle
				font-size: rem(64)
				margin-bottom: rem(80)
		&-middle
			gap: 90px
			margin-bottom: rem(100)
			&-os
				gap: 80px
		&-bottom
			&-title
				margin-bottom: rem(36)
			&-socials
				gap: 28px
		&-server
			height: 100%
			&-list
				max-height: 900px
				gap: 60px
			&-item
				padding-inline: 30px
				padding-bottom: 20px
				&::after
					height: 2px
			&-online
				span:last-child
					min-width: 200px
		&-swiper
			.swiper-pagination-bullet
				width: rem(104)
				height: rem(76)
		.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
			margin: 0 rem(20)

	.wrapper-items
		gap: rem(70)

	.connect, .download
		.container
			max-width: rem(2400)
			padding-top: rem(240)
			@include adaptive-value('padding-inline', 100, 50, 2)
			gap: 50px

	.connect
		&-title
			font-size: rem(64)
		&-item
			max-width: rem(1160)
			padding-block: rem(50)
			padding-inline: rem(130) rem(30)
			&-counter
				font-size: rem(72)
				position: absolute
				top: rem(50)
				left: rem(130)
			&-title
				font-size: rem(64)
				line-height: rem(80)
			&-img
				&.paper
					width: rem(336)
					height: rem(268)
				&.book
					width: rem(320)
					height: rem(280)
				&.sword
					width: rem(252)
					height: rem(256)
				&.hero
					width: rem(372)
					height: rem(460)

	.rules
		padding-block: rem(250) rem(500)
		line-height: rem(60)
		&-title
			margin-bottom: rem(40)
		&-header
			.container
				@include adaptive-value('padding-inline', 500, 30, 2)
				margin-bottom: rem(50)
			&-list
				line-height: rem(76)
				border-radius: rem(80)
				padding: rem(72) rem(280)
				ol
					li + li
						margin-top: rem(10)
			&-title
				margin-bottom: rem(20)
		&-text
			.container
				@include adaptive-value('padding-inline', 250, 30, 2)
			&-list
				border-radius: rem(40)
				padding: rem(120) rem(180)
			&-title
				margin-bottom: rem(80)
				& > ol > li
					margin-bottom: rem(20)
			&-item.disc
				padding-left: rem(70)
				&::before
					font-size: rem(80)
					left: rem(26)
					top: rem(10)

	*[id]::before
		margin-top: rem(-340)
		height: rem(340)

	.download
		.container
			padding-bottom: rem(100)
		&-item-text
			font-size: rem(48)
		&:hover
			transform: translate(rem(-4), rem(-40))
		&-button
			gap: rem(100)
		&-info
			&-title
				font-size: rem(64)
				margin-bottom: rem(100)
			& > div
				gap: 100px
				padding-inline: rem(300)
			&-text
				font-size: rem(64)
				margin-bottom: rem(80)
			&-link
				border-radius: rem(104)
				padding: rem(68) rem(180)
		.windows
			width: rem(352)
			height: rem(330)
		.ios
			width: rem(236)
			height: rem(290)
		.linux
			width: rem(212)
			height: rem(248)

	.footer
		font-size: rem(40)
		padding-block: rem(60)
		.container
			gap: 40px
		&-list
			gap: 68px

@media ( min-width: 3000px )

	:root
		--fontSize: 4rem

	h1, h2
		font-size: rem(144)

	.container
		max-width: unset
		@include adaptive-value('padding-inline', 200, 100, 2)

	.btn
		font-size: rem(96)
		padding: rem(54) rem(150)
		&-start
			border-radius: rem(120)
		&-log
			border-radius: rem(36)
		&-social
			min-width: rem(570)
			min-height: rem(225)
			padding: rem(30)
			border-radius: rem(54)
			&-vk
				svg
					width: rem(129)
					height: rem(75)
			&-discord
				svg
					width: rem(117)
					height: rem(99)
			&-telegram
				svg
					width: rem(123)
					height: rem(90)
		&-transparent
			font-size: rem(72)
	.link::after
		height: rem(6)
		bottom: rem(-6)

	.logo
		width: rem(501)
		height: rem(141)

	.user
		width: rem(132)
		height: rem(150)

	.windows
		width: rem(201)
		height: rem(189)

	.ios
		width: rem(159)
		height: rem(192)

	.linux
		width: rem(171)
		height: rem(198)

	.ri-moon-line
		width: rem(141)
		height: rem(138)

	.ri-sun-line
		width: rem(141)
		height: rem(144)

	.item
		min-height: rem(700)
		border-radius: rem(40)

	.wrapper-form
		max-width: 3510px
		border-radius: rem(180)
		padding: rem(180) rem(480) rem(120) rem(420)
		.form
			gap: 105px
			&-title
				font-size: rem(120)
				button:first-of-type::after
					font-size: rem(150)
					right: rem(-39)

	.signup-form-links
		a
			gap: 15px
			& + a::after
				font-size: rem(90)
				left: rem(-24)

	input, textarea
		line-height: rem(84)
		font-size: rem(72)
		padding: rem(54) rem(192)
		border-radius: rem(132)
		&::placeholder
			font-size: rem(72)

	.checkbox
		gap: 16px
		&-box
			width: rem(120)
			height: rem(120)
			border-radius: rem(15)
			border-width: 3px

	.header
		padding-block: 120px

	.nav-item:is(:hover, :focus-within)
		.sub-nav-list
			padding: rem(90) rem(120)

	.sub-nav
		&-list
			gap: 60px
			border-radius: rem(24)
			top: rem(150)
			.arrow-dropdown
				width: rem(78)
				height: rem(42)
		&-link
			font-size: rem(60)

	.item
		min-height: rem(1050)
		border-radius: rem(60)

	.hero
		&-swiper
			padding-top: rem(380)
		&-slide
			gap: 10%
			&-server
				gap: 75px
				padding: rem(90) rem(390)
		&-content
			&-text
				max-width: rem(1500)
		&-server-list
			max-height: 1080px
		&-swiper
			.swiper-pagination-bullet
				width: rem(156)
				height: rem(114)
		.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
			margin: 0 rem(30)

	.wrapper-items
		gap: rem(105)

	.connect, .download
		.container
			max-width: rem(3600)
			padding-block: rem(380) rem(240)
			gap: rem(75)

	.connect
		&-title
			font-size: rem(96)
		&-item
			max-width: rem(1740)
			padding-block: rem(75)
			padding-inline: rem(195) rem(45)
			&-counter
				font-size: rem(108)
				position: absolute
				top: rem(75)
				left: rem(195)
			&-title
				font-size: rem(96)
				line-height: rem(120)
			&-img
				&.paper
					width: rem(504)
					height: rem(402)
				&.book
					width: rem(480)
					height: rem(420)
				&.sword
					width: rem(378)
					height: rem(384)
				&.hero
					width: rem(558)
					height: rem(690)

	.rules
		padding-block: rem(400) rem(750)
		line-height: rem(90)
		&-title
			margin-bottom: rem(60)
		&-header
			.container
				@include adaptive-value('padding-inline', 600, 30, 2)
				margin-bottom: rem(75)
			&-list
				line-height: rem(114)
				border-radius: rem(120)
				padding: rem(108) rem(420)
				ol
					li + li
						margin-top: rem(15)
			&-title
				margin-bottom: rem(30)
		&-text
			.container
				@include adaptive-value('padding-inline', 350, 30, 2)
			&-list
				border-radius: rem(60)
				padding: rem(180) rem(270)
			&-title
				margin-bottom: rem(120)
				& > ol > li
					margin-bottom: rem(30)
			&-item.disc
				padding-left: rem(105)
				&::before
					font-size: rem(120)
					left: rem(39)
					top: rem(15)

	*[id]::before
		margin-top: rem(-510)
		height: rem(510)

	.download
		.container
			padding-bottom: rem(160)
		&-item-text
			font-size: rem(72)
		&:hover
			transform: translate(rem(-6), rem(-60))
		&-button
			gap: rem(150)
		&-info
			&-title
				font-size: rem(96)
				margin-bottom: rem(150)
			& > div
				gap: 150px
				padding-inline: rem(450)
			&-text
				font-size: rem(96)
				margin-bottom: rem(120)
			&-link
				border-radius: rem(156)
				padding: rem(102) rem(270)
		.windows
			width: rem(528)
			height: rem(495)
		.ios
			width: rem(354)
			height: rem(435)
		.linux
			width: rem(318)
			height: rem(372)

	.footer
		font-size: rem(60)
		padding-block: rem(80)
		.container
			gap: 60px
		&-list
			gap: 102px
